# App
NEXT_PUBLIC_PORT=3000

# Next stuff
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DOCS_URL=http://localhost:3001

# Reown
NEXT_PUBLIC_REOWN_PROJECT_ID=

# Etherscan
ETHERSCAN_API_KEY=

# DB
DATABASE_URL=postgresql://pot:pot_dev_password@localhost:5432/proofoftransfer

# Test config
DISABLE_RATE_LIMIT=false
PERSIST_WALLET=false
SLOW_MO=0

# Features
COMING_SOON=true